body {
    background-color: #171836;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .menu {
        display: none;
    }

    .main-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        width: 100%;

    }

    .main-photo {
        display: none;

    }

    .info {
        grid-column: 1/2;
        background-image: url(/assets/images/student\ hero\ section.png);
    }

    .main-head {
        color: rgba(255, 255, 255);
        margin-top: 100px;
        font-size: 56px;
    }

    .suggestions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        gap: 10px;

    }

    .login {
        grid-column: 3/4;
        display: flex;
        justify-self: end;
    }
}

@media screen and (min-width: 426px) {
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: 2/3;
        justify-self: start;
        gap: 44px;
    }

    .main-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50%;
        width: 100%;

    }

    .main-photo {
        grid-column: 1/2;
        width: 100%;

    }

    .info {
        grid-column: 2/3;
    }

    .suggestions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px;
        gap: 10px;

    }

    .main-head {
        color: rgba(255, 255, 255, 0.8);
        margin-top: 100px;
        font-size: 56px;
    }

    .login {
        grid-column: 3/4;
        display: flex;
        justify-self: end;
    }
}

.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.logo {
    margin: 20px;
    grid-column: 1/2;

}



.menu-a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.login {
    grid-column: 3/4;
    display: flex;
    justify-self: end;
}

.lang {
    color: white;
    justify-content: center;
}


.login-button {
    height: 50px;
    width: 102px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: white;
}

input {
    height: 68px;
    width: 506px;
    padding-left: 20px;
    border: none;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.4);
    background-color: #1F2143;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    color: rgba(255, 255, 255, 0.5);
}


.courses {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.block1 {
    margin-left: 40px;
}

h5 {
    color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.4);
    ;
}

.social {
    display: grid;
    grid-template-columns: 60px 60px 60px;

}